.results-header{
  // height: 225px;
  align-items: flex-end;
}

.results-selected-talents--overview {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  margin: 10px 0 20px 0;
}

.results-selected-talents--overview .selected-item{
  margin-right: 10px;
}

.results-content {
  padding: 0 60px;
}

.results-overview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 25px;
}

.result-separator{
  border: 1px solid #D8D0AC;
  height: 2px;
  margin-top:20px;
  margin-bottom: 20px;
  width: 100%;
}