<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="SkilledContext" connectionString="Data Source=.\sqlexpress;Initial Catalog=Skilled;user id=skilled;password=skilled" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="BaseFileLocation" value="C:\inetpub\wwwroot\SkilledApi\Files" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <system.net xdt:Transform="Replace">
    <mailSettings>
      <smtp deliveryMethod="Network" from="Skilled@skilled.nu">
        <network host="127.0.0.1" port="25" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
