// .skillset-search {
//     margin-top: 20px;
//     display: flex;
//     justify-content: flex-end;
//   }
  
  .skillset-search--button {
    cursor: pointer;
    background-color: #FACC43;
    color: black;
    text-align: center;
    padding: 5px 20px;
  
    -webkit-box-shadow: 10px 10px 14px -8px #878787;
    -moz-box-shadow: 10px 10px 14px -8px #878787;
    box-shadow: 10px 10px 14px -8px #878787;
  }