.skillset-search--button {
    cursor: pointer;
    background-color: #FACC43;
    color: black;
    text-align: center;
    padding: 5px 20px;
  
    -webkit-box-shadow: 10px 10px 14px -8px #878787;
    -moz-box-shadow: 10px 10px 14px -8px #878787;
    box-shadow: 10px 10px 14px -8px #878787;
  }

.sticky-to-corner{
  position: fixed;
  bottom: 50px;
  right: 50px; 
  z-index:10;
}