.footer {
  background-color: #F8E0BE;
  padding: 5px;
  text-align: center;
  min-height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-text{
  font-family: 'la_belle_auroreregular';
  font-size: 20px;
}
