.results-skillset {
  margin-top: -50px;
}

.results-content {
  padding: 0 60px;
}

.results-overview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.result-bucket-bar {
  width: 100%;
  display: flex;
  margin: 20px 0 40px 0;
  height: 40px;
  line-height: 40px;
}

.result-buckat-bar--filter-text {
  padding-right: 20px;
}

.result-buckat-bar--dropdown {
  flex-grow: 1;
}

.result-buckat-bar--button {
  text-align: center;
  background-color: #53988c;
  margin-left: 20px;
  padding: 0 10px;
  color: white;
  cursor: pointer;
}
