.block-title {
  text-align: center;
  margin-top: 40px;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 5px;
}

.slogan {
  text-align: center;
  font-style: italic;
  letter-spacing: 3px;
  font-weight: bold;
}

.cc--header-image {
  background-image: url("../../assets/icons/home_bg.jpeg");
  background-repeat: no-repeat;
  background-position: center 15px;
  background-size: cover;
  height: 300px;
  //height: calc(100vh - 40px);
  //min-height: 375px;
}

.block-highlight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -200px;
  margin-bottom: 50px;
  padding: 15px;
  border: 1px solid #c5c5c5;
  background-color: white;
  -webkit-box-shadow: 10px 10px 14px -8px rgba(135, 135, 135, 1);
  -moz-box-shadow: 10px 10px 14px -8px rgba(135, 135, 135, 1);
  box-shadow: 10px 10px 14px -8px rgba(135, 135, 135, 1);
}
.block-highlight--video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.block-highlight--advantages {
  margin-top: 40px;
  margin-left: 40px;
  ul {
    list-style-type: square;
  }
}

.block-highlight--mail {
  margin-top: 40px;

  input {
    margin-right: 10px;
  }

  .mail-textbox {
    padding: 10px;
  }
}

.button-mail {
  color: white;
  padding: 10px;
  border: none;
  font-style: italic;
  cursor: pointer;
  height: 48px;
}

.button-mail-me {
  background-color: #747d76;
}

.button-mail-friend {
  background-color: #747d76;
}

.img-25 {
  height: 25px;
}
::-webkit-input-placeholder {
  padding: 10px 0;
}
:-moz-placeholder {
  /* older Firefox*/
  padding: 10px 0;
}
::-moz-placeholder {
  /* Firefox 19+ */
  padding: 10px 0;
}
:-ms-input-placeholder {
  padding: 10px 0;
}

.content-text {
  margin-top: 40px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  background-color: #747d76;
  padding: 0;
}

.footer-contact {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  margin-right: 40px;
}

.footer-email {
  margin-right: 40px;
}

.footer-phone {
  margin-right: 40px;
}

.ReactModalPortal > * {
  // When the modal is closed, overlay div has no css class
  // This selector should be overridden by the `&--after-open` class below
  opacity: 0;
}

.ReactModal__Content {
  left: 23% !important;
  right: 23% !important;
}

.ReactModal__Overlay {
  transition: opacity 200ms ease-in-out;
  background: rgba(0, 0, 0, 0.15);
  &--after-open {
    opacity: 1;
  }
  &--before-close {
    opacity: 0;
  }
}

.validation {
  margin-top: 5px;
}
.validation-error {
  color: #ff4343;
  font-size: 0.8em;
}

.close-button {
  text-align: center;
  color: white;
  background-color: #4e5d51;
  cursor: pointer;
}

.close-button--circle {
  border-radius: 30px;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.close-button--rectangle {
  padding: 5px;
}

.close-button--top-right {
  position: absolute;
  right: 15px;
  top: 25px;
}
