.react-tabs__tab:focus {
    box-shadow: none;
    border-color:#d4bb98;
    outline: none
}

.react-tabs__tab:focus:after{
    display: none;
}

.react-tabs__tab-list{
    font-weight: bold;
    font-family: 'inconsolataregular';
    font-size: 20px;
    background-color: #F8E0BE;
}

.react-tabs__tab-list {
    display: flex;
    -webkit-box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.75);
}

.react-tabs__tab-panel{
    margin-top: 20px;
}

.react-tabs__tab {
    border: 1px solid #d4bb98;
    border-right: none;
    flex-grow: 1;
    flex-basis: 0;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-top: -1px;
}
.react-tabs__tab:last-child{
    border-right: 1px solid #d4bb98;
}

.react-tabs__tab--selected {
    background: #d4bb98;
    border-radius: 0;
    color: black;
}

.tab__content-title{
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;
}

.talents-overview{
    list-style-type: none;
}

.talents-overview li.match:before{
    content:"\2713\0020";
    font-size:1.1em;
}
.talents-overview li.no-match{
    padding-left: 17px;
}

.feature-block{
    background: #F8E0BE;
    text-align: center;
    margin-top: -35px;
    margin-left: -31px;
    padding: 30px;
    -webkit-box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.75);
}

.feature-logo img{
    margin-top: 15px;
    height: 150px;
}

.feature-job-title{
    margin-top:15px;
    font-weight: bold;
}

.feature-job-subline{
    margin-top: 10px;
    font-size: 14px;
}

.feature-cta{
    margin-top: 50px;
}

.btn{
    cursor: pointer;
    color: black;
    text-align: center;
    padding: 5px 20px;
    -webkit-box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.75);
    background-color: #FACC43;
    border-radius: 0px;
    font-family: 'inconsolataregular';
}

.mobile-menu{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .mobile-menu--menu-item{
    height: 75px;
    align-items: center;
    display: flex;
    justify-content: center;
    background: #F8E0BE;
    flex-grow: 1;
    border-right: 1px solid rgb(218, 182, 137);
    color: black;
  }
  
  .mobile-menu--menu-item:last-child{
    border: none;
  }
  
  .mobile-menu--menu-item:hover{
    background: rgb(199, 175, 143);
    text-decoration: none;
    color: black;
  }

  .matchperc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .matchperc div:first-of-type{
    font-size:1.5em;
  }
  
  .matchperc div:nth-child(2){
    font-family: 'la_belle_auroreregular';
    font-size: 2em;
  }