@font-face {
    font-family: 'la_belle_auroreregular';
    src: url('../assets/fonts/labelleaurore-webfont.woff2') format('woff2'),
         url('../assets/fonts/labelleaurore-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

  @font-face {
    font-family: 'inconsolataregular';
    src: url('../assets/fonts/inconsolata-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/inconsolata-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
     font-family: 'latoregular';
     src: url('../assets/fonts/lato-regular-webfont.woff2') format('woff2'),
          url('../assets/fonts/lato-regular-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

body{
     font-family: 'latoregular'
}

h1, h2, h3, h4, h5, h6{
     font-family: 'inconsolataregular';
     letter-spacing: 3px;
     text-transform: uppercase;
}

.img-fluid{
     // max-width: 100%;
     // height: 100%;
}

.btn:focus, .form-control:focus {
     box-shadow: none;
 }

 .validation {
     margin-top: 5px;
   }
   .validation-error {
     color: #ff4343;
     font-size: 0.8em;
   }